:host {
    display: none;
    background-color: blue;
    top:0;
    bottom:0;
}

.cv-modal {
    
    position: absolute;
    inset: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, .75);
    padding: 40px;
}
    
.cv-modal-body {
    padding: 30px;
    background: #fff;
}