
    <!--HEADER-->
    <section class="header">
        <div class="header-top text-center flex justify-center">
            <h2 class="sentence">Hi! I am a</h2>
            <h2 class="slidingVertical">
                <span>passionate</span>
                <span>hardworking</span>
                <span>ever-evolving</span>
                <span>solution-driven</span>
                <span>team-oriented</span>
            </h2>
            <h2 class="sentence-2"> Frontend developer</h2>
            <div class="cursor-dot"></div>
            <div class="cursor-outline"></div>
        </div>
        <hr class="my-12 w-20 mx-auto">
        <p class="mx-auto text-3xl font-bold mb-6">Welcome to my portfolio.</p>
        <p class="mx-auto">Angular-specialized, I also work with React and Wordpress, and when needed I also adapt to backend techs (NodeJS, MySQL, AWS, Firebase).</p>
        <!--TECHS-->
        <div class="slider my-10">
	<div class="slide-track">
		<div class="slide html">
			<img [src]="icons.html" alt="" />
        </div>
		<div class="slide css">
			<img [src]="icons.css" alt="" />
		</div>
		<div class="slide js">
			<img [src]="icons.javascript" alt=""/>
		</div>
		<div class="slide ng">
			<img [src]="icons.angular" alt="" />
		</div>
		<div class="slide">
			<img [src]="icons.typescript" alt="" />
		</div>
		<div class="slide">
			<img [src]="icons.react" alt="" />
		</div>
		<div class="slide">
			<img [src]="icons.wordpress" alt="" />
		</div>
		<div class="slide scss">
			<img [src]="icons.scss" alt="" />
		</div>
		<div class="slide bs">
			<img [src]="icons.bootstrap" alt="" />
		</div>
		<div class="slide tw">
			<img [src]="icons.tailwind" alt="" />
		</div>
		<div class="slide ng-material">
			<img [src]="icons.ngMaterial" alt="" />
		</div>
		<div class="slide jasmine">
			<img [src]="icons.jasmine" alt="" />
		</div>
		<div class="slide karma">
			<img [src]="icons.karma" alt="" />
		</div>
		<div class="slide node">
			<img [src]="icons.node" alt="" />
		</div>
		<div class="slide exp">
			<img [src]="icons.express" alt="" />
		</div>
        <div class="slide ec2">
			<img [src]="icons.ec2" alt="" />
		</div>
		<div class="slide firebase">
			<img [src]="icons.firebase" alt="" />
		</div>
		
	</div>
</div>
    </section>

    <!--FEATURED-->
    <section class="hardskills bg-blue-600 border rounded">
        <h2>Featured</h2>
    	<!--NASA, crearse, Activicat-->
    </section>

	<!--INDIVIDUAL PROJECTS-->
    <section class="projects flex">
        <ng-container *ngFor="let project of collabProjects; let i = index">
            <div (mouseover)="selectProject(i)" class="card">
				<img src="" alt="">
                <div class="info">
					<h1>{{project.name}}</h1>
					<p>fdsafdas</p>
					<ng-container *ngFor="let iconUrl of project.iconsUrl">
						<img [src]="iconUrl">
					</ng-container>
					<button>Botó</button>
                </div>
            </div>
        </ng-container>
    </section>

	<!--COLLABORATIVE	 PROJECTS-->
    <section class="projects flex">
        <ng-container *ngFor="let project of indivProjects; let i = index">
            <div (mouseover)="selectProject(i)" class="card">
				<img src="" alt="">
                <div class="info">
					<h1>{{project.name}}</h1>
					<p>fdsafdas</p>
					<ng-container *ngFor="let iconUrl of project.iconsUrl">
						<img [src]="iconUrl">
					</ng-container>
					<button>Botó</button>
                </div>
            </div>
        </ng-container>
    </section>

    <section class="about">About</section>
    <section class="contact">Contact</section>