/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: "Acumin-Pro";
    src: local("Acumin-Pro"), url('assets/fonts/Acumin-RPro.woff') format("truetype");
    font-display:swap;
}

@font-face {
    font-family: "Acumin-Pro-Wide";
    src: local("Acumin-Pro-Wide"), url('assets/fonts/Acumin-Pro-Wide-Book.woff.ttf') format("truetype");
    font-display:swap;
}

html, body{
    font-family: "Acumin-Pro";
    font-size: 17.6392px;
    font-weight: 300;
    cursor: none;
}

h1, h2, h3{
    font-family: "Acumin-Pro-Wide";
    font-size: 32.392px !important;
    font-weight: 400 !important;
}